<h2>Show My Task</h2>
<p>ID: <%= @my_task.id %></p>
<p>Title: <%= @my_task.title %></p>
<p>Description: <%= @my_task.description %></p>
<p>Posted Date: <%= @my_task.created_at %></p>
<p>Updated Date: <%= @my_task.updated_at %></p>
<p>Public: <%= @my_task.public %></p>